body {
    font-family: Arial, Helvetica, sans-serif;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*=============== My CSS===============*/
body{
    font-family:Arial, Helvetica, sans-serif;
}

.wrapper {
    max-width:800px;
    margin:0 auto;
    padding: 0 40px;
}

h1, h2, h3 {
    font-weight: bold;
    margin: 15px 0;
    /*top+bottom    right+left */
    margin-top: 15px;
    margin-bottom: 15px;
}

h1{
    font-size: 2 rem;
    /* 2 (16px)= 32px */
}

h2 {
    font-size: 1.5rem;
}

section {
    margin: 40px 0 50px;
    /*top left and right bottom*/
}

article p {
    line-height: 1.5;
}

.header-img {
    width:100%;
}

header {
    position: relative;
    text-align:center;
}

header h1 {
    position: absolute;
    top: 50%;
    left:50%;
    transform:translate (-50%, -50%);

.footer{
    background-color: darkcyan;
    padding:30px 0;
    /*background-image: url("../images/web-header-image.png"); */
    background-image: url ("https://png.pngtree.com/background/20230616/original/pngtree-faceted-abstract-background-in-3d-with-shimmering-iridescent-metallic-texture-of-picture-image_3653595.jpg");
    color: white;
    background-repeat: no-repeat;
    background-size:cover;
    background-position:centre;
}